<div class="container">
  <section ng-controller="UserController">
    <div class="text-left">
      <ul>
        <input type="text" ng-model="searchName" />
        <!-- <li ng&#45;repeat="cohort in cohorts | filter:{'name':'1412'}"> -->
        <li ng-repeat="cohort in cohorts">
          <h2 style="color:{{cohort.color}};">{{cohort.name}} List of Students</h2>
          <ul>
            <li ng-repeat="student in cohort.students | filter:searchName">
              <!-- <div ng&#45;show="cohort.graduated"> -->
              {{student}}
              <!-- </div> -->
            </li>
          </ul>
        </li>
      </ul>
    </div>

    <input type="text" placeholder="favorite thing" ng-model="favThing" />
    <input type="text" placeholder="favorte color" ng-model="myColor" />
    <p style="color:{{myColor}};">{{favThing}}</p>
  </section>
</div>
