<div class="text-center">
  <h2>We're happy to have you as a new user!</h2>
  <h3>Please select your cohort</h3></br>

  <%= form_for @user, url: user_path(@user), html: { method: :put } do |f| %>
    <%= f.collection_select :cohort_id, Cohort.all.sort_by(&:name), :id, :name %></br></br>
    <%= f.submit "Continue", class: "btn btn-default" %>
  <% end %>
</div>

