<!DOCTYPE html>
<html>
  <head>
    <title>D3 - Data Driven Documents</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <style type="text/css">

      .bar {
        display: inline-block;
        width: 20px;
        height: 75px; /* Gets overriden by D3-assigned height below */
        margin-right: 2px;
        fill: teal;
      }

    </style>
  </head>
  <body>
    <div class="text-center" id="chartArea"></div>
    <script type="text/javascript">

      var dataset = [ 5, 10, 15, 20, 25, 40 ];

      var svg = d3.select("#chartArea").append("svg")
                  .attr("width", 400)
                  .attr("height", 300);

      var multiplier = 8;

      svg.selectAll("rect")
        .data(dataset)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", function(d, i) {
          return i * 22;
        })
        .attr("y", function(d) {
          return 300 - d * multiplier;
        })
        .attr("width", 20)
        .attr("height", function (d) {
          return d * multiplier;
        });

    </script>
  </body>
</html>
