<!DOCTYPE html>
<html>
  <head>
    <title>D3 - Data Driven Documents</title>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="http://underscorejs.org/underscore.js" charset="utf-8"></script>
    <style type="text/css">

      .bar {
        display: inline-block;
        width: 20px;
        height: 75px; /* Gets overriden by D3-assigned height below */
        margin-right: 2px;
      }

    </style>
  </head>
  <body>
    <div class="text-center" id="chartArea"></div>
    <script type="text/javascript">

      var dataset = _.map(_.range(15), function(i) {
        return Math.random() * 100;
      });
      var w = 400, h = 300;

      var svg = d3.select("#chartArea").append("svg")
                  .attr("width", w)
                  .attr("height", h);

      var xScale = d3.scale.ordinal()
                     .domain(dataset)
                     .rangeBands([0,w], 0.1, 0.3);

      var yScale = d3.scale.linear()
                     .domain([0,d3.max(dataset) * 1.1])
                     .range([0,h]);

      var colorScale = d3.scale.linear()
                         .domain([0,d3.max(dataset)])
                         .range(["blue", "purple"]);

      svg.selectAll("rect")
        .data(dataset)
        .enter()
        .append("rect")
        .attr("class", "bar")
        .attr("x", xScale)
        .attr("y", function(d) {
          return h - yScale(d);
        })
        .attr("width", xScale.rangeBand())
        .attr("height", yScale)
        .attr("fill", colorScale);

    </script>
  </body>
</html>
