@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
  font-family: Avenir;
  src: local("./fonts/AvenirNextLTPro-Regular.otf")
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Avenir;
  // Margin bottom by footer height
  margin-bottom: 60px;
}

li {
  list-style: none;
}

.well.well-sm h3 {
  margin: 0;
}

#twitter-feed > .well {
  background-color: white;
  border-radius: 0;
  border-top: none;
  margin: 0;
}

#twitter-feed > .well p {
  margin: 15px auto auto 0;
}

#github-login {
  color: black;
  padding: 9px;
}

#user-profile {
  padding: 7px 15px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  // Set the fixed height of the footer
  height: 60px;
}
