<div class="footer text-center">
  <div class="container">
    <p>:wq</p>
    <p><span class="octicon octicon-pencil"></span> with <span class="octicon octicon-heart"> by <%= link_to "indiesquidge", "https://github.com/indiesquidge" %></p>
  </div>
</div>
